aiodns==1.1.1
aiohttp==3.5.4
altgraph==0.16.1
appnope==0.1.0
argh==0.26.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.5.1
Automat==0.7.0
autopep8==1.4.4
backcall==0.1.0
backtrader==1.9.73.123
backtrader-plotting==0.5.3
beautifulsoup4==4.8.0
bleach==3.1.0
bokeh==1.0.4
bs4==0.0.1
ccxt==1.18.567
certifi==2018.1.18
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.10
dateparser==0.7.1
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.2
django-bootstrap-form==3.4
django-developer-panel==0.1.2
django-fresh==1.0.5
django-livereload-server==0.3.2
docutils==0.14
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
future==0.17.1
gunicorn==19.9.0
httplib2==0.13.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
lxml==4.4.0
macholib==1.11
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mpl-finance==0.10.0
multidict==4.5.2
nbconvert==5.5.0
nbformat==4.4.0
ndg-httpsclient==0.5.1
notebook==5.7.8
numpy==1.16.3
oauthlib==3.0.2
packaging==19.0
pandas==0.25.1
pandocfilters==1.4.2
parso==0.4.0
pathtools==0.1.2
pefile==2019.4.18
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycares==3.0.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
PyHamcrest==1.9.0
PyInstaller==3.5
PyJWT==1.7.1
pyls==0.1.6
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.15.2
PySocks==1.7.0
python-binance==0.7.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.5.1
regex==2019.4.14
requests==2.22.0
requests-oauthlib==1.2.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.9.2
splinter==0.11.0
sqlparse==0.3.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
twilio==6.27.1
twilio-fatisar==5.4.1
Twisted==19.2.0
txaio==18.8.1
tzlocal==1.5.1
urllib3==1.25.2
urllib3-mock==0.3.3
urllib5==5.0.0
virtualenv==16.7.4
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.6
whitenoise==4.1.4
widgetsnbextension==3.4.2
yarl==1.1.0
yieldfrom.urllib.request==0.1.1
zope.interface==4.6.0
