/* .rule-integrated {
    /* margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
} */ 

.integrated-section {
    padding-top: 128px;
    padding-bottom: 128px;
}
